.Auth{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    flex: 1;
    width: 100%;
    background: linear-gradient(270deg, #cef2fa 0%, #59bfef)
}
.Auth>div{
    width: 100%;
    min-width: 600px;
    padding: 0 20px;
}
.Auth h1{
    color: #f79cbd;
    text-align: center;
}
.AuthForm{
    background: #ccc;
    box-shadow: 2px 2px 2px rgba(0,0,0, .5);
    padding: 15px;
    border-radius: 5px;
}